<div class="container-fluid px-4">
  <h1 class="my-4">Dashboard</h1>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Membership Payments
    </div>
    <div class="card-body">
      <table
        id="dashboardTable"
        class="table table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Membership Status</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Membership Status</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
