<div class="container-fluid px-4">
  <h1 class="my-4">Club Members</h1>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Club Members
    </div>
    <div class="card-body">
      <table id="membersTable" class="table table-bordered" style="width: 100%">
        <thead>
          <tr>
            <th data-name="name">Name</th>
            <th data-name="dateOfBirth">Date Of Birth</th>
            <th data-name="gender">Gender</th>
            <th data-name="birthplace">Birthplace</th>
            <th data-name="category">Category</th>
            <th data-name="membershipStatus">Membership Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
