<div class="container-fluid px-4">
  <h1 class="my-4">Member Stats</h1>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Member Scores
    </div>
    <div class="card-body">
      <table
        id="memberStatsTable"
        class="table table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th data-name="name">Name</th>
            <th data-name="category">Category</th>
            <th data-name="score">Score</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
