<div class="card m-5">
  <div class="card-header">Article</div>
  <div class="d-flex justify-content-center">
    <img
      class="card-img-top w-50"
      src="./assets/img/TableTennisHall-1611213736.jpg"
      alt="Card image cap"
    />
  </div>
  <div class="card-body">
    <h2 class="card-title">Lorem ipsum dolor sit amet.</h2>
    <p class="card-text">Posted on: 2021/01/01</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia commodi
      vitae placeat accusamus sunt eius delectus laboriosam aliquid eos, magni,
      reiciendis reprehenderit, ut est odit architecto eveniet! Sunt, beatae id?
    </li>
  </ul>
</div>

<div class="card m-5">
  <div class="card-header">Article Actions</div>
  <div class="card-body">
    <a href="#" class="btn btn-info">Update article data</a>
    <a href="#" class="btn btn-danger">Remove article</a>
  </div>
</div>
