
          <div class="card m-5">
            <div class="card-header">Player Data</div>

            <div class="card-body">
              <h2 class="card-title">John Doe</h2>
              <h4 class="card-text">Tournament Score: 25</h4>
              <p class="card-text">Joined on: 2021/01/01</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Date Of Birth: 1998/01/01</li>
              <li class="list-group-item">Gender: Male</li>
              <li class="list-group-item">Birthplace: Belgrade</li>
              <li class="list-group-item">Category: Senior</li>
              <li class="list-group-item">Membership status: Unpaid</li>
              <li class="list-group-item">Badges: &#9734; &#9733;</li>
            </ul>
          </div>

          <div class="card m-5">
            <div class="card-header">Player Actions</div>
            <div class="card-body">
              <a href="#" class="btn btn-warning">Mark membership as paid</a>
              <a href="#" class="btn btn-info">Update player data</a>
              <a href="#" class="btn btn-danger">Remove from club</a>
            </div>
          </div>

          <div class="card m-5">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Match Results
            </div>
            <div class="card-body">
              <table id="datatablesSimple">
                <thead>
                  <tr>
                    <th>Opponent</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Opponent</th>
                    <th>Result</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Garrett Winters</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Ashton Cox</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Cedric Kelly</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Airi Satou</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Brielle Williamson</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Herrod Chandler</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Rhona Davidson</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Colleen Hurst</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Sonya Frost</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jena Gaines</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Quinn Flynn</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Charde Marshall</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Haley Kennedy</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Tatyana Fitzpatrick</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Michael Silva</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Paul Byrd</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Gloria Little</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Bradley Greer</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Dai Rios</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jenette Caldwell</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Yuri Berry</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Caesar Vance</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Doris Wilder</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Angelica Ramos</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Gavin Joyce</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jennifer Chang</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Brenden Wagner</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Fiona Green</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Shou Itou</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Michelle House</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Suki Burks</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Prescott Bartlett</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Gavin Cortez</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Martena Mccray</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Unity Butler</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Howard Hatfield</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Hope Fuentes</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Vivian Harrell</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Timothy Mooney</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jackson Bradshaw</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Olivia Liang</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Sakura Yamamoto</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Thor Walton</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Finn Camacho</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Serge Baldwin</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Zenaida Frank</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Zorita Serrano</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jennifer Acosta</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Cara Stevens</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Hermione Butler</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Lael Greer</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Jonas Alexander</td>
                    <td>VICTORY</td>
                  </tr>
                  <tr>
                    <td>Shad DeckerVICTORYtd></td>

                    <td>124</td>
                  </tr>
                  <tr>
                    <td>Michael BruceVICTORYtd></td>

                    <td>124</td>
                  </tr>
                  <tr>
                    <td>Donna SniderVICTORYtd></td>

                    <td>124</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
