<div class="container-fluid px-4">
  <h1 class="my-4">Tournaments</h1>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      All Tournaments
    </div>
    <div class="card-body">
      <table
        id="tournamentsTable"
        class="table table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Categories</th>
            <th>Location</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody></tbody>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Categories</th>
            <th>Location</th>
            <th>Status</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <button id="addTournamentButton" class="btn btn-success mx-10">
    Add tournament
  </button>

  <div class="modal fade" id="addTournamentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">
            Add a new tournament
          </h2>
        </div>
        <div class="modal-body">
          <form class="container-fluid" id="addTournamentForm">
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                name="name"
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Location"
                name="location"
              />
            </div>
            <div class="mb-3">
              <label for="date">Date</label>
              <input
                type="date"
                class="form-control"
                placeholder="Date"
                name="date"
              />
            </div>
            <h3>Choose categories</h3>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="MINI_MINI_CADET"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Mini Mini cadet
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="MINI_CADET"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Mini cadet
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="CADET"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Cadet
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="JUNIOR"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Junior
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="SENIOR"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Senior
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="category"
                value="VETERAN"
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Veteran
              </label>
            </div>
            <div class="my-3">
              <button
                id="closeModalButton"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button class="btn btn-success" type="submit">
                Add tournament
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
